h1 {
	margin: 0px;
}
.navbar-header {
	margin-left: 5%
}
.navbar-brand {
	padding: 5px 10px 5px 10px;
	float: left;
}
li {
	text-align: center;

}
h2 {
	color: #777;
}
#main-container {
	height: 1500px;
	background-color: gray;
	border: 1px solid black;
}
div.col-xs-12, div.col-sm-12, div.col-md-12 {
	color: white;
}